* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

hr {
	border: none;
	height: 1px;
	color: #333;
	background-color: #333;
}

body {
	padding: 0;
}

.navbar {
	border-radius: 0;
	margin: 0;
}

.container.faq {
	width: 90%;
}

.page-top {
	margin-top: -70px;
}

.box {
	border: 1px solid red;
}

.home-headline {
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: -13px;
}

.home-headline span {
	background-color: #231F20;
	padding: 5px 22px;
}

.section-headline {
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: 90px;
}

.section-headline span {
	background-color: #231F20;
	padding: 5px 22px;
}

.category-gallery-block {
	overflow: hidden;
}

.section-headline {
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: 90px;
}

.section-headline span {
	background-color: #231F20;
	padding: 5px 22px;
}

footer {
	background-color: #0c1a1e;
	min-height: 250px;
	font-family: 'Open Sans', sans-serif;
}

.footerleft {
	margin-top: 50px;
	padding: 0 36px;
}

.logofooter {
	margin-bottom: 10px;
	font-size: 25px;
	color: #fff;
	font-weight: 700;
}

.footerleft p {
	color: #fff;
	font-size: 12px !important;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.footerleft p i {
	width: 20px;
	color: #999;
}

.paddingtop-bottom {
	margin-top: 50px;
}

.footer-ul {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 2px;
}

.footer-ul li {
	line-height: 29px;
	font-size: 12px;
}

.footer-ul li a {
	color: #a0a3a4;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
	margin-right: 10px;
}

.footer-ul li a:hover {
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	color: #ff670f;
}

.icon-ul {
	list-style-type: none !important;
	margin: 0px;
	padding: 0px;
}

.icon-ul li {
	line-height: 75px;
	width: 100%;
	float: left;
}

.icon {
	float: left;
	margin-right: 5px;
}

.copyright {
	min-height: 40px;
	background-color: #000000;
}

.copyright p {
	text-align: left;
	color: #FFF;
	padding: 10px 0;
	margin-bottom: 0px;
}

.heading7 {
	font-size: 21px;
	font-weight: 700;
	color: #d9d6d6;
	margin-bottom: 22px;
}

.post p {
	font-size: 12px;
	color: #FFF;
	line-height: 20px;
}

.post p span {
	display: block;
	color: #8f8f8f;
}

.bottom_ul {
	list-style-type: none;
	float: right;
	margin-bottom: 0px;
}

.bottom_ul li {
	float: left;
	line-height: 40px;
}

.bottom_ul li:after {
	content: "/";
	color: #FFF;
	margin-right: 8px;
	margin-left: 8px;
}

.bottom_ul li a {
	color: #FFF;
	font-size: 12px;
}

.p-0 {
	padding: 0;
}

.mt--30 {
	margin-top: 30px;
}

.feature-box {
	border: 2px solid #e5e5e5;
	padding: 15px;
	display: flex;
	align-items: flex-start;
}

.feature-box .icon {
	margin-right: 10px;
	color: #62ab00;
	font-size: 34px;
	line-height: 40px;
}

.d-flex {
	display: flex;
}

.justify-content-space-between {
	justify-content: space-between;
}

.section-title {
	text-align: center;
	margin-top: -8px;
	margin-bottom: 30px;
}

.section-title--bordered {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
}

.testimonial-card {
	padding-left: 70px;
	position: relative;
}

.testimonial-image {
	position: absolute;
	top: 0;
	margin-top: 30px;
	left: 0;
}

.testimonial-body {
	height: 100%;
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 15px;
	border: 2px solid #e5e5e5;
}

.testimonial-body:before {
	height: 100%;
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 15px;
	border: 2px solid #e5e5e5;
	background: url(/image/icon/quotation.png) center no-repeat;
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.testimonial-body .client-name {
	display: block;
	font-size: 15px;
	text-transform: capitalize;
	color: #333;
	margin: 20px 0 0 0;
	font-weight: 700;
}

.box-shadow {
	-webkit-box-shadow: -2px -1px 53px -5px rgba(199, 199, 199, 1);
	-moz-box-shadow: -2px -1px 53px -5px rgba(199, 199, 199, 1);
	box-shadow: -2px -1px 53px -5px rgba(199, 199, 199, 1);
}